.logo{
  width: 300px;
}

ion-select{
  color: var(--ion-color-secondary) !important;
}
.popover-viewport{
  width: 50px;
}

ion-list{
  width: 50px;

}

#select-label{
  color: var(--ion-color-secondary) !important;

}

#ion-sel-0{
  color: red;
}
