<ion-buttons slot="end" class="ion-padding-horizontal">
  @if( userLogin() ) {
    <!-- Si esta logeado -->
    <ion-button routerLink="messages" routerLinkActive="router-link-active" class="ion-hide-lg-down message-button" fill="solid">
      {{ "MENU.MESSAGES" | translate }}
      @if(numNoReadMessages()){
        <ion-badge color="danger" mode="ios" class="badge-message">{{ numNoReadMessages() }}</ion-badge>
      }
    </ion-button>
    @if (isAdmin()) {
      <!-- Si esta logeado y es administrador -->
      <ion-button routerLink="add-game" routerLinkActive="router-link-active" class="ion-hide-lg-down" fill="solid">
        {{ "MENU.ADD_GAME" | translate }}
      </ion-button>
      <ion-button routerLink="add-product" routerLinkActive="router-link-active" class="ion-hide-lg-down" fill="solid">
        {{ "MENU.ADD_PRODUCT" | translate }}
      </ion-button>
      <ion-button routerLink="add-achievement" routerLinkActive="router-link-active" class="ion-hide-lg-down" fill="solid">
        {{ "MENU.ADD_ACHIEVEMENT" | translate }}
      </ion-button>

    } @else {
      <!-- Si esta logeado pero no es administrador -->
      <ion-button routerLink="friend-list" routerLinkActive="router-link-active" class="ion-hide-lg-down" fill="solid">
        {{ "MENU.FRIENDS_LIST" | translate }}
      </ion-button>
      <ion-button routerLink="replays" routerLinkActive="router-link-active" class="ion-hide-lg-down" fill="solid" >
        {{ "MENU.REPLAYS" | translate }}
      </ion-button>

      <ion-button routerLink="customize-games" routerLinkActive="router-link-active" class="ion-hide-lg-down" fill="solid">
        {{ "MENU.CUSTOMIZE_GAMES" | translate }}
      </ion-button>

      <ion-button routerLink="profile" routerLinkActive="router-link-active" class="ion-hide-lg-down" fill="solid">
        {{ "MENU.PROFILE" | translate }}
      </ion-button>
    }

    <ion-button>
      <ion-select class="lang ion-text-large" [value]="selectedLang()" (ionChange)="changeLanguage($event)"
        interface="popover">
        <ion-select-option value="es">ES</ion-select-option>
        <ion-select-option value="en">EN</ion-select-option>
      </ion-select>
    </ion-button>

    <ion-button (click)="changeTheme()">
      <ion-icon slot="icon-only" [name]="themeIcon()" />
    </ion-button>

    <ion-menu-button menu="menu" class="ion-hide-lg-up" />

    <ion-button routerLink="settings" fill="clear" class="ion-hide-lg-down">
      <ion-icon name="settings" color="primary"></ion-icon>
    </ion-button>

  } @else {
    <!-- Si no está logeado -->
    <ion-button>
      <ion-select class="lang ion-text-large" [value]="selectedLang()" (ionChange)="changeLanguage($event)"
        interface="popover">
        <ion-select-option value="es">ES</ion-select-option>
        <ion-select-option value="en">EN</ion-select-option>
      </ion-select>
    </ion-button>
    <ion-button (click)="changeTheme()">
      <ion-icon slot="icon-only" [name]="themeIcon()" />
    </ion-button>

    <ion-button [routerLink]="['/login']" class="ion-hide-sm-up">
      <ion-icon slot="icon-only" name="log-in"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" class="ion-hide-sm-down" fill="outline"
      shape="round">
      {{ "LOGIN.TITLE" | translate }}
    </ion-button>
  }




</ion-buttons>
